

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    /* width: 100vw; */
    min-height: 100vh;
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


header {
    width: 100%;
    height: 5rem;
    background-color: aquamarine;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
}

header button {
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 8px;
}


main {
    width: 50%;
    /* background-color: blueviolet; */
    text-align: center;
    position: relative;
    /* top: 50%; */
    /* left: ; */
}

main .title {
    margin-bottom: 2rem;
    font-size: 2rem;
}

.api-div .img-div {
    width: 100%;
    height: 30rem;
    /* background-color: coral; */
    /* border-radius: 12px; */
    margin-bottom: 1.5rem;
}

.api-div .img-div img {
    /* width: 100%; */
    height: 100%;
    border-radius: 12px;
    border: 1px solid coral;
}

.api-div .btn-div {
    width: 50%;
    margin: 0 auto;
    /* background-color: darkkhaki; */
}

.api-div .btn-div button {
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    outline: none;
    border: none;
    border-radius: 10px;
}


footer {
    width: 100%;
    /* height: 2rem; */
    padding: 0.5rem;
    text-align: center;
    letter-spacing: 2px;
    background-color: cadetblue;
    /* position: absolute;
    bottom: 0; */
}

footer a {
    text-decoration: none;
    color: inherit;
}